<% render_navigation :expand_all => true, :renderer => :bootstrap %>
<div class="sidebar-nav">
<%= render_navigation do |primary|%>
  <% Assignment.all.each do |assignment| %>
    <%= primary.item :assignment, assignment.title do |group_nav| %> 
      <% Group.all.each do |group| %>
        <%= group_nav.item :group, "Group #{group.id}" do |post_nav|%>
          <% group.users.each do |user| %>
            <% @post = user.posts.where(assignment_id: assignment.id).first %>
            <% post_nav.item :post, @post.headline, analyze_path(@post.id), highlights_on: %r(/) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %> 
</div>